<div class="left_col">
  <div class="traffic_lights_container">
    <h2>Mapping health:</h2>
    <div class="green_light">
      <%= image_tag 'green_light.png' %> 
      <span class="percentage"></span>
    </div>
    <div class="amber_light">
      <%= image_tag 'amber_light.png' %> 
      <span class="percentage"></span>
    </div>
    <div class="red_light">
      <%= image_tag 'red_light.png' %> 
      <span class="percentage"></span>
    </div>
  </div>
  <div class="totals_container">
     <h2>Total Mappings:</h2>
     <div>
       <h2 class="total_mappings"></h2>
     </div>
     <h2>Total Reviews:</h2>
     <div>
       <h2 class="total_reviews"></h2>
     </div>
  </div>
</div>
<div class="right_col">
  <div class="top_players_container">
    <h2>Top Players:</h2>
    <table border="0" cellpadding="0" cellspacing="0">
      <tbody class="top_players_table">

      </tbody>
    </table>
    
  </div>
</div>
<div class="mosaic_container">
   <h2>Mappings Mosaic:</h2>
   <div class="results_container">
     
   </div>
</div>
