// Empty the mosaic results container
$('.mosaic_container .results_container').empty();

// Update the mosaic heading counter
$('.mosaic_container h2').text('Mappings Mosaic:  <%= @mappings.count %> mappings');

// Create the mosaic
<% @mappings.each do |mapping| %>
  $('.mosaic_container .results_container').append('<span><%= mapping.score %></span>');
<% end %>

// Colour the mosaic using the score percentage which is then removed from the HTML
$(function (){
    var colors = new Hex(0xFF0000).range(new Hex(0x00FF00), 101, true);
    $(".mosaic_container .results_container > span").each(function(index){
        $(this).css({
          'background-color' : '#'+colors[parseInt($(this).text())].toString()
        });
        $(this).html('');
    });
});

// Update the traffic lights

$('.green_light span.percentage').text('hello');
$('.green_light span.value strong').text('world');
