<% content_for :custom_assets do %>
  <%= javascript_include_tag "missing_mappings" %>
<% end %>
<div class="container">
  
  <div class="table">
    <div class="missing_mappings_container">
      <h2>Missing Mappings:</h2>
      <table border="0" cellpadding="0" cellspacing="0">
        <tbody class="missing_mappings_table">

        </tbody>
      </table>
    </div>
  </div>
</div>
