sections = [];

// Empty the containers
$('.mosaic_container .results_container').empty();

<% @sections.each do |section| %>
  sections.push( { name : "<%=j section[:name] %>", unreviewed : <%= section[:unreviewed].to_i %>, reviewed : <%= section[:reviewed].to_i %> });
<% end %>

$(sections).each( function(i,section){
  sectionContainer =  $('<div class="section"><h3>'+ section.name +'</h3></div>');

  unreviewedCount = section.unreviewed;

  for ( i = 0; i < unreviewedCount; i++ ) {
    $('<span class="no-review"></span>').insertAfter(sectionContainer.find('h3'));
  }

  reviewedCount = section.reviewed;

  for ( i = 0; i < reviewedCount; i++ ) {
    $('<span class="review"></span>').insertAfter(sectionContainer.find('h3'));
  }

  sectionContainer.appendTo('.results_container');

});

$('.mosaic_container .results_container').masonry();
