// Empty the containers
$('.mosaic_container .results_container').remove();
$('<div class="results_container"></div>').appendTo('.mosaic_container');

var sections = [];
<% @sections.each do |section| %>
  sections.push( { name : "<%=j section[:name] %>", unreviewed : <%= section[:unreviewed].to_i %>, reviewed : <%= section[:reviewed].to_i %> });
<% end %>

$(sections).each( function(i,section){
  var sectionContainer =  $('<div class="section"><h3>'+ section.name +'</h3></div>');

  for ( i = 0; i < section.unreviewed; i++ ) {
    $('<span class="no-review"></span>').insertAfter(sectionContainer.find('h3'));
  }
  for ( i = 0; i < section.reviewed; i++ ) {
    $('<span class="review"></span>').insertAfter(sectionContainer.find('h3'));
  }

  sectionContainer.appendTo('.results_container');
});

$('.results_container').masonry();
