<% content_for :custom_assets do %>
  <%= javascript_include_tag "colorJizz" %>
  <%= javascript_include_tag "mosaic_poll" %>
<% end %>
<div class="mosaic_container">
   <div class="results_container">
     
   </div>
</div>
