<section class="unauthenticated">

  <p>To access Review-O-Matic, please follow the instructions in your welcome email.</p>

  <p><%= link_to "Send me sign in instructions", new_user_password_path %></p>

</section>