<section class="unauthenticated">

  <p>To access the side-by-side browser, please follow the instructions in your welcome email. If you do not have one, you can request one below.</p>

  <p><%= link_to "Send me sign in instructions", new_user_password_path %></p>

</section>