(function ($) {
    var NO_MAPPING_URL = "<%= Plek.current.find('migratorator') %>/browser_resources/no_mapping.html";
    var GONE_URL = "<%= Plek.current.find('migratorator') %>/browser_resources/410.html";
    var AWAITING_CONTENT_URL = "<%= Plek.current.find('migratorator') %>/browser_resources/awaiting_content.html";

    var curUrl;
    var offDomainWarning = "You've now navigated off the chosen domain. No updates will occur to the right-hand panel.";
    var shownOffDomainWarning = false;

    function updateFrame(url) {
      $.getJSON(('/__/explore.json', url))
        .then(function (data) {
          var new_url = data.new_url;

          if ( !new_url ) {
            if ( data.status == 410 ) {
              new_url = GONE_URL;
            }
            else if ( data.awaiting_content ) {
              new_url = AWAITING_CONTENT_URL;
            }
            else {
              new_url = NO_MAPPING_URL;
            }
          }

          $('#new').attr('src', new_url);
          $('.mapping_links_container .left').text(data.old_url);
          $('.mapping_links_container .right').text(new_url);
        });
    }

    function updateUrl() {
      var url = $('#old')[0].contentWindow.location.pathname;
      if (url === 'blank') { return; }
      if (url === curUrl) { return; }
      curUrl = url;

      if (typeof url === 'undefined') {
        if (shownOffDomainWarning) { return; }

        if (confirm(offDomainWarning)) {
          location.href = '/__browser__';
        } else {
          shownOffDomainWarning = true;
        }
      } else {
        updateFrame('?old_url=http://www.direct.gov.uk' + url);
        history.pushState({}, "", '/__/explore?old_url=http://www.direct.gov.uk' + url);      
      }
    }

    function init() {
        var path = window.location.origin + window.location.search.replace('?old_url=http://www.direct.gov.uk', ""); 
        $('#old').attr('src', path);
        updateTimer = setInterval(updateUrl, 500);
    }

    $(init);
}(jQuery));

$(document).ready(function(){


  // If the explore path is accessed from Reviewomatic instead of the explorer, redirect to the explorer.
  var plekExplore = '<%= Plek.current.find('explore.reviewomatic') %>';
  var plekExplorePath = '/__/explore';
  if (window.location.origin != plekExplore) {
    window.location.replace(plekExplore + plekExplorePath);
    window.location =  plekExplore + plekExplorePath;
  }

  // Hide comment textarea and submit button
  $('.browser .comments > div').hide();

  // Display comment form
  $('.comments .question').click(function(event) {
    event.preventDefault();
    $('.comments > .form_container').fadeIn();
  });

  // Submit Comment using POST
  $('.browser .comments input').click(function(event) {
    event.preventDefault();
    var form_path = $(this).parent('form').attr('action');
    var $commentTextarea = $(this).parent().find('textarea');
    $.ajax({
      type: "POST",
      url: form_path,
      data: { comment: $commentTextarea.val() }, 
      success: function(data) {
        $commentTextarea.val('');
        var $commentMessage = $('<span class="success">Comment submitted</span>');
        $('.comment_messages').append($commentMessage);
        $('.form_container').fadeOut('normal', function() {
          $('.comment_messages').fadeIn('normal', function() {
            setTimeout(function() {
              $('.comment_messages').fadeOut('normal', function() {
                $('.comment_messages').empty(); 
              }); 
            }, 1000);          
          });
        });
      },
      error: function(data) {
        alert("An error occurred whilst trying to save your review. Please reload the page and try again.");
        window.location = window.location;
      },
      beforeSend: function(data) {

      }
    });
  });
      
});
