<section class="my_profile">
  <h1><%= current_user.name %></h1>

  <% if current_user && current_user.gds_user? %>
    <div class="mappings_reviewed">You've reviewed <strong><%= current_user.reviews.count %></strong> <%= current_user.reviews.count != 1 ? "mappings" : "mapping" %> so far</div>

    <p class="continue"><%= link_to "Continue &raquo;".html_safe, browse_path %></p>
  <% else %>
    <p>Message for department user goes here</p>
  <% end %>

  <div class="clear"></div>
</section>
