header {
  background-color: #333;
  border-bottom: solid 0.063em #efefef;
  -webkit-box-shadow: 0 0.063em 0.188em rgba(0,0,0,.25);
  -moz-box-shadow: 0 0.063em 0.188em rgba(0,0,0,.25);
  box-shadow: 0 0.063em 0.188em rgba(0,0,0,.25);
  padding: 0.5em 1em;
  color: #fff;
  text-shadow: #111 0px 1px 1px;

  h1 { font-weight: bold; font-size: 1em; margin: 0; width: 30%; text-align: left;
    a {
      color: #fff;
      text-decoration: none;
      &:visited {
        color: #fff;
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }
  h2 {
    margin: 0 auto;
    display: inline-block;
    font-size: 1em;
    text-align: center;
    width: 40%;
  }
  .right {
    width: 25%;
    text-align: right;
  }

  .user_score { -webkit-border-radius: 4px; color: #333; font-size: 0.85em; padding: 0.1em 0.4em; font-weight: bold; margin-left: 0.5em; margin-right: -5px; text-shadow: none; vertical-align: top; display: inline-block; background: #fff; }
}

p.flash {
  text-align: center;
  font-size: 1em;
  color: #fff;
  background: #999;
  font-weight: bold;
  text-shadow: #555 0px 1px 1px;
  padding: 0.85em 0;
  margin: 1em auto;
  width: 960px;
}
p.flash_alert { background: #a91620; }
p.flash_notice { background: #6c933c; }

section.unauthenticated {
  margin: 0 auto;
  width: 960px;
}

.container {
  width: 960px;
  margin: 0 auto;
  &:after {
    content: ' ';
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
  }
}
