table.review_table {
  thead {
    font-weight: bold;
    tr {
      background: #ffffff !important;
    }
  }
  tr {
    &:nth-of-type(2n + 1) {
      background: #e1e1e1;
    }
    td {
      padding: 10px;
      width: 200px;
      &:first-child {
        width: 60px;
      }
      &:nth-child(2) {
        width: 100px;
      }
      &:nth-child(3) {
        width: 60px;
      }
      &:nth-child(4) {
        width: 300px;
      }
      &:nth-child(5) {
        width: 150px;
      }
      &:nth-child(6) {
        width: 210px;
      }
    }
  }
}
