<p>Hello <%= @resource.name %>!</p>

<p>Here's your link to access Review-O-Matic.</p>

<p><%= link_to 'Sign in', root_url(:access_token => @resource.authentication_token, :host => Plek.current.find('reviewomatic').sub(/https?:\/\//,'')) %></p>

<p>Please keep this email, you'll need it each time you sign in.</p>

<p>Thanks,<br />Winston</p>