<p>Dear <%= @resource.name %>,</p>

<p>This email provides your personal link to the mapping review tool:</p>

<p><%= link_to 'Sign in', root_url(:access_token => @resource.authentication_token, :host => Plek.current.find('explore-reviewomatic').sub(/https?:\/\//,'')) %></p>

<p>You'll need to enter the following credentials to login:<br />
username: betademo<br />
password: nottobesharedoutsidegovernment</p>

<p>You'll find detailed instructions on the homepage of the review tool.</p>

<p>If you have any questions on the tool, then please contact your fact check coordinator.</p>

<p>With kind regards,<br />GDS Transition Team</p>