<div class='header'>
	<h1><%= link_to "Explore the Directgov to GOV.UK Mappings", '/__/explore' %></h1>
</div>
<div class='welcome'>
  <h1><%= current_user.name %></h1>
  <p>This tool shows you how users will be directed from Directgov pages to new pages on <a href="https://www.gov.uk/">GOV.UK</a>.</p>
  <p>The side-by-side browser will show you <a href="http://www.direct.gov.uk">Directgov</a> on the left and the <a href="https://www.gov.uk">GOV.UK</a> mapping on the right. You can expect to see one of four different outcomes for each page:</p>
  <ol>
    <li><strong>A <a href="https://www.gov.uk/">GOV.UK</a> page</strong>. This will show the updated content as it will appear on GOV.UK.</li>
    <li><strong>A <a href="https://www.gov.uk/">GOV.UK</a> ‘awaiting content’ page.</strong> This page is a stand-in for content that has not yet gone live on GOV.UK.</li>
    <li><strong>A ‘gone’ page.</strong> This page shows where Directgov content does not map to an identified user need and will be removed.</li>
    <li><strong>A ‘missing mapping’ page.</strong> There may be occasions where a mapping doesn't exist. Please flag these.</li>
  </ol>
  <p>If you want to flag a mapping for review at GDS then use the <strong>‘flag this mapping’</strong> button in the top right hand corner, and select either <strong>'This maps to the wrong page'</strong> or <strong>'This mapping looks correct, but it could map to a better page'</strong> and click submit. All entries will be collated by GDS and sent back to fact check coordinators on 10th August.</p>
  <p>If you have any questions on the tool then please email your department's fact check coordinator. Thank you for taking time to look at how these redirections will work.</p>
  <p><a href="/__/explore" class="continue">Continue &raquo;</a></p>
</div>
