<div class='header'>
	<a class="question" href="#">Flag this mapping</a>
	<h1>
		<%= link_to "Explore", root_path %> 
		the <a class="home" href="http://www.direct.gov.uk">Directgov</a>
		to <a href="https://www.gov.uk">GOV.UK</a>
		Mappings
	</h1>
</div>

<div class="comment">
	<p>Please tell us if this mapping is inaccurate or inappropriate, or if there's something missing on the page.
	We'll get your comms lead to sift all comments and we'll deal with them in priority order.
	Thanks for helping us get the mappings right!</p>
	<%= form_tag do %>
    <%= text_area_tag :comment %>
    <%= submit_tag 'Send comment' %>
	<% end %>
</div>
<p id='result'></p>

<div class="panes">
	<div id="old" class="pane">
		<input id="old_url" type="text" readonly="readonly"></input>
		<iframe src=""></iframe>
	</div>
	<div id="new" class="pane">
		<input id="new_url" type="text" readonly="readonly"></input>
		<iframe src=""></iframe>
	</div>
</div>
