<!DOCTYPE html>
<html>
<head>
  <title>Reviewomatic</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <h1>Review-o-Matic</h1>
    <%= yield %>
  </div>
</body>
</html>
