<!DOCTYPE html>
<html>
<head>
  <title>Explore the Directgov to GOV.UK Mappings</title>
  <!--[if lt IE 9]>
  <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
  <script src="/__/assets/explorer.js" type="text/javascript"></script>
<style>
* {
	margin: 0;
	padding: 0;
}

body {
	font-family: sans-serif;
	color: #333;
	background-color: #f2f2f2;
}

.header {
	background-color: #303030;
	color: white;
	width: 100%;
	min-width: 40em;
	line-height: 1.9em;
	padding: 0.5em 0;
}

.header h1 {
	display: inline;
	font-size: 1em;
	font-weight: normal;
	margin-left: 1em;
}

.header .question {
	display: inline;
	float: right;
	margin-right: 1em;
	text-align: right;
	min-width: 10em;
}

.header a.question {
	color: #888;
}

.header a {
	color: white;
	text-decoration: none;
	font-weight: normal;
}

.header a:hover {
	color: white;
	text-decoration: underline;
}

.welcome {
	width: 48em;
	margin: 2em auto;
	border: 1px solid black;
	background-color: white;
	padding: 1em;
}

.welcome p {
	margin-top: 1em;
}

.welcome li {
	margin: 1em 2em;
}


.comment {
	display: none;
	border-top: 1px solid #dfdfdf;
	margin: 1em 2em 1em 4em;
}

.comment textarea {
	width: 100%;
	margin: 2em 0;
	height: 5em;
}

.comment .radio {
	margin: 1em 0;
}

.comment button {
	padding: 0.5em 2em;
}

.panes {
	width: 100%;
	background-color: #000;
}

.pane {
	width: 49.8%;
	float: left;
	border-top: 1px solid black;
	overflow: hidden;
}

.pane .bar {
	position: relative;
}

.pane .bar button {
	position: absolute;
	right: 0;
	top: 0.2em;
	background-color: #303030;
	color: white;
	border: 0;
	padding: 0.25em;
}

.pane .bar input {
	width: 100%;
	background-color: #f2f2f2;
	border: 0;
	padding: 0.5em 1em;
}

.pane .bar input:focus {
	background-color: white;
	border: 0;
	outline: none;
}

a.continue {
  text-decoration: none;
  background: #6759ec;
  color: white;
  padding: 5px 10px;
}

#result {
  background: yellow;
  padding: 5px 10px;
}

iframe {
	border: 0;
	width: 100%;
	height: 100%;
	border-top: 1px solid black;
}
</style>

  <%= csrf_meta_tags %>
</head>
<body class="explorer">
  <%= yield %>
</body>
</html>
